.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main {
	padding: 5rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.socialMedia {
	margin: 0;
	padding: 0;
	list-style: none;
}

.socialMedia li {
	display: inline-flex;
	margin: 0 0.5rem;
	font-size: 1.3rem;
}

.socialMedia a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.socialMedia a:hover {
	transition: ease-in-out 0.5s;

	opacity: 0.4;
}
.title a {
	color: #0070f3;
	text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
	text-decoration: underline;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 2rem;
	font-weight: 400;
}

.title,
.description {
	text-align: center;
}

.description {
	font-weight: 200;
	line-height: 1.5;
	font-size: 1.3rem;
	margin-bottom: 2rem;
}

.photo {
	border-radius: 100%;
	margin-bottom: 2rem;
}
